{{ define "main" }}
  <link href="/style-recruiter.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/9.1.0/markdown-it.min.js"
          integrity="sha256-TkN8s0Xn8oiroeIyHkXDjt+W71FdPsdjFmn3jKbLgxQ=" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdWGGzRnF_DNDDDonCyv1FWxRK4dBWt7U&libraries=places" async defer></script>
  <script src="/js/strings.{{ T "langCode" }}.js" async defer></script>
  <script src="/js/recruiter.js" async defer></script>

    {{ partial "article-page.html" . }}

{{ end }}