[submodule "static/initiatives-files"]
	path = static/initiatives-files
	url = git@github.com:extinctionfighters/initiatives.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:extinctionfighters/gohugo-theme-ananke.git
