{{ $wide := .Params.wide }}
{{ $bigTitle := .Params.bigTitle }}
{{ if $bigTitle }}
<h1 style="text-align: center; font-size: 4.4rem" class="{{ if $wide }}mw7{{ else }}mw8{{ end }} center cf mv5f1 white">
  <span class="bg-blue pa2 ">{{ .Params.bigTitle }}</span>
</h1>
{{ end }}
<div class="flex-l {{ if $wide }}mw8{{ else }}mw7{{ end }} center">
  <article class="center cf pb5 ph3 ph4-ns {{ if $bigTitle }}mb5{{ else }}mv5{{ end }}">
    <div class="nested-copy-line-height lh-copy f4 nested-links mid-gray">
      {{ .Content }}
    </div>
  </article>
</div>