<footer class="bg-white bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex-l justify-between items-center f5">
    <span class="flex fw4 black-70 dn pv1 ph2">
      {{ T "footer_text1" }}
      <a class="ph1 fw4 hover-black black-70" href="{{ T "langPrefix" }}contribute" target="_blank">{{ T "footer_text2" }}</a>
    </span>  
    <div style="margin-left: auto" class="flex ph2 fw4 hover-black black-70">
      {{ if .IsTranslated }}
        <ul class="pa0 ma0">
            {{ range .Translations }}
            <li class="list fw4 dib pr3 language-link-wrapper">
                <a class="no-underline language-link" data-lang="{{ .Lang }}" href="{{ .Permalink }}"><span class="language-link-flag-{{ .Lang }}"></span></a>
            </li>
            {{ end}}
        </ul>
        {{ end }}
   
      <a href="{{ T "langPrefix" }}imprint">{{ T "footer_imprint" }}</a>
    </div>
  </div>
</footer>
