.theme {
    shade: #195C9C;
    red: #e7040f;
    highlight: #0F81E9;
    primary: #ECFF1C;
    primary-shade: #8F9C02;
}

.header-logo {
    height: 3rem;
    transition: filter 300ms;
}
a:hover .header-logo  {
    filter: sepia(1) hue-rotate(-40deg) brightness(1.2) saturate(2);
}

.language-link .language-link-cookie-consent {
    display: none;
}
.language-link:hover .language-link-cookie-consent {
    display: inline;
}
.bg1 {
    background: url(/images/Wildfire_2010_-_panoramio.jpg);
    background-size: 100vmax;
    background-attachment: fixed;
}

article > section:first-child {
    padding-top: 0
}

article h1 {
    background: #e7040f;
    color: white;
    padding: 0 2rem;
    margin: 4rem -2rem 0;
}
article h1:first-child {
    margin-top: 0
}

article hr {
    border: 1px solid gray
}

article.initiatives-wrapper th,
article.initiatives-wrapper td {
    font-size: 10px 
}

article.initiatives-wrapper > h1,
article.initiatives-wrapper > h2,
article.initiatives-wrapper > p,
article.initiatives-wrapper > ul {
    margin: 1rem 10vw;
    max-width: 80vw;
}

#recruiter-screen p {
    line-height: 1.3;
    margin: 1rem 0
}
#recruiter-screen li {
    margin: 0.7rem 0;
}
#recruiter-screen li > p {
    margin: 0.7rem 0;
}

#recruiter-screen li > p {
    margin: 0.7rem 0;
}

.initiative-description {
    line-height: 1.2
}

article h1,
article h2,
article h3,
article h4,
article h5,
article p,
article ul {
    text-align: left;
}
article ul {
    padding-left: 1.25rem
}

article table {
    margin: 2rem 0;
    font-size: 1rem;
}

article table thead {
    background: #f0f0f0
}

article table tr:nth-child(2n){
    background: #f0f0f0
}

article table td {
    padding: 0.2rem;
    vertical-align: top;
}

.button {
    margin: 2rem auto;
    margin-bottom: 3rem;
    padding: 0.1rem 1rem;
    font-weight: 400;
    text-align: center;
    background: #137752;
    display: block;
    width: fit-content;
    border-radius: 2rem;
    border: 1px solid transparent;
    justify-content: center;
    text-decoration: none;
    color: white !important;
    line-height: normal;
}
.button:hover {
    color: #195C9C;
    transition: color 100ms;
    cursor: pointer;
}

.button:disabled {
    transition: none;
    color: lightgray !important;
    cursor: default
}

.button-primary {
    margin-top: 4rem;
    margin-bottom: 6rem;
    padding: 0.2rem 2rem;
    font-size: 2.5rem;
    border-radius: 2rem;
}

.button-text-highlight {
    font-weight: bold;
}

#result-town-input {
    margin: 0 auto;
    display: block;
}