.theme {
    shade: #195C9C;
    red: #EC3026;
    highlight: #0F81E9;
    primary: #ECFF1C;
    primary-shade: #8F9C02;
}

header {
    /* There's an ugly white grayish bar between header and content that this hack effectively hides */
    /* margin-bottom: -10x; */
}

.header-logo-wrapper {
    /* background: #9AFF2B; */
    /* color: black; */
}
.header-logo-wrapper:hover {
    color: #8F9C02;
}

.header-logo {
    height: 2rem;
    vertical-align: text-top;
}

.header-title-inner {
    background:#0F81E9;
    font-weight: bold;
}

.header-subtitle-inner {
    background:#0F81E9;
}

.header-nav {
    background: #EC3026;
}

main {
    /* background: #195C9C; */
}

article {
    background: white;
}

article > section:first-child {
    padding-top: 0
}

article h1 {
    background: #EC3026;
    color: white;
    padding: 0 2rem;
    margin: 2rem -2rem 0;
}
article h1:first-child {
    margin-top: 0
}


article.initiatives-wrapper th,
article.initiatives-wrapper td {
    font-size: 10px 
}

article.initiatives-wrapper > h1,
article.initiatives-wrapper > h2,
article.initiatives-wrapper > p,
article.initiatives-wrapper > ul {
    margin: 1rem 10vw;
    max-width: 80vw;
}

#recruiter-screen p {
    line-height: 1.3;
    margin: 1rem 0
}
#recruiter-screen li > p {
    margin: 0.7rem 0;
}

.initiative-description {
    line-height: 1.2
}

article h1,
article h2,
article h3,
article h4,
article h5,
article p,
article ul {
    text-align: left;
}
article ul {
    padding-left: 1.25rem
}

article table {
    margin: 2rem 0;
    font-size: 1rem;
}

article table thead {
    background: #f0f0f0
}

article table tr:nth-child(2n){
    background: #f0f0f0
}
article table td:first-child {
    white-space: nowrap;
}
article table td {
    padding: 0.2rem;
}

.button {
    margin: 2rem auto;
    margin-bottom: 3rem;
    padding: 0.1rem 1rem;
    font-weight: 400;
    text-align: center;
    background: #9AFF2B;
    display: block;
    width: fit-content;
    border-radius: 2rem;
    border: 1px solid transparent;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.button:hover {
    color: #195C9C;
    transition: color 100ms;
    cursor: pointer;
}

.button:disabled {
    transition: none;
    color: #8F9C02;
    cursor: default
}

.button-primary {
    margin-top: 4rem;
    margin-bottom: 6rem;
    padding: 0.2rem 2rem;
    font-size: 2.5rem;
    border-radius: 2rem;
}

.button-text-highlight {
    font-weight: bold;
}

#result-town-input {
    margin: 0 auto;
    display: block;
}