{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<article class="recruiter-wrapper mid-gray">
    {{ .Content }}


      <input id="autocomplete"
             placeholder="Enter your address"
             onFocus="geolocate()"
             type="text"/>
             <button id="submit_city">Show me the results</button>
    <script>

  let autocomplete;

  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('autocomplete'),
        {
          types: ['(cities)'],
          fields: ['address_component'],
        });
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    const place = autocomplete.getPlace();
    const locality = place.address_components.filter(c => c.types.includes('locality'))[0];
    const country = place.address_components.filter(c => c.types.includes('country'))[0];
    console.log({
      locality : locality ? locality.short_name: null,
      countryLong : country ? country.long_name: null,
      countryCode : country ? country.short_name: null,
    });
  }

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        const geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        autocomplete.setBounds(new google.maps.Circle(
            {center: geolocation, radius: position.coords.accuracy}).getBounds());
      });
    }
  }

    </script>
</article>
{{ end }}
