{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div class="flex-l mw8 center">
<article class="recruiter-wrapper center cf pb5 ph3 ph4-ns">
    {{ .Content }}

    <link href="/initiatives-files/style-recruiter.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/9.1.0/markdown-it.min.js"
            integrity="sha256-TkN8s0Xn8oiroeIyHkXDjt+W71FdPsdjFmn3jKbLgxQ=" crossorigin="anonymous"></script>
            
    <style type="text/css">
    
    </style>
    <div class="" id="recruiter-screen">Loading ...</div>
    <script>
        // Allows node.js `require()` in included files
        const exports = {};
    </script>
    </script>
    <script src="/initiatives-files/app/index.js"></script>
    <script src="/initiatives-files/app/initiatives.js"></script>
    <script src="/initiatives-files/app/markdown.js"></script>
    <script src="/initiatives-files/app/render.js"></script>
    <script src="/initiatives-files/app/logic.js"></script>
    <script src="/initiatives-files/data/initiatives.js"></script>
    <script src="/initiatives-files/data/tag-labels.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdWGGzRnF_DNDDDonCyv1FWxRK4dBWt7U&libraries=places&callback=resultScreenApp"
    async defer></script>
</article>
</div>
{{ end }}
